tqdm
torch>=2.6.0
einops
loguru
numpy
pillow
omegaconf>=2.3.0
torchaudio
diffusers>=0.32.0
safetensors
torchvision
huggingface-hub
transformers[accelerate,tiktoken]
wheel
setuptools
modelscope
huggingface_hub[cli]